$color__primary: #23a6f0;
$text__primary: #000000;
$text__secondary: #737373;

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
}

div {
  &.navbar-collapse {
    &.public__nav {
      justify-content: flex-end;
      margin-right: 14rem;
    }
  }
}

.nav__item {
  a {
    text-decoration: none;
    color: $text__secondary;
    padding: 0 1rem;
    font-weight: 600;
  }
}
